body {
  padding: 0;
  margin: 0;
  background-color: #22b573;
}
.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "l1 l1 t1 t1 t1 t1 t1 t1 t1 t1 t1 t1 t1 t1 t1 t1 r1 r1"
    "l1 l1 b1 b1 b1 b1 k1 b2 b2 b2 b2 k2 b3 b3 b3 b3 r1 r1"
    "l1 l1 b1 b1 b1 b1 k1 b2 b2 b2 b2 k2 b3 b3 b3 b3 r1 r1"
    "l1 l1 b1 b1 b1 b1 k1 b2 b2 b2 b2 k2 b3 b3 b3 b3 r1 r1"
    "l1 l1 b1 b1 b1 b1 k1 b2 b2 b2 b2 k2 b3 b3 b3 b3 r1 r1"
    "l1 l1 f1 f1 f1 f1 k1 f2 f2 f2 f2 k2 f3 f3 f3 f3 r1 r1";
}
.l1 {
  grid-area: l1;
}
.r1 {
  grid-area: r1;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.t1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: t1;
  color: #ffffff;
  letter-spacing: 3px;
  font-weight: 100;
}
.k1 {
  grid-area: k1;
}
.k2 {
  grid-area: k2;
}
.f1 {
  grid-area: f1;
}
.f2 {
  grid-area: f2;
}
.f3 {
  grid-area: f3;
}
.box1 {
  background-color: #000000;
  grid-area: b1;
}
.box2 {
  background-color: #ffffff;
  grid-area: b2;
}
.box3 {
  background-color: #000000;
  grid-area: b3;
}
.box-common {
  padding: 20px;
}
/* hamburger */

.center {
  background-color: #000000;
  position: absolute;
  width: 75px;
  height: 70px;
  padding: 12px 20px 0 20px;
  border-radius: 40px;
  box-sizing: border-box;
}

.center:before,
.center:after,
.center div {
  background: #ffffff;
  content: "";
  display: block;
  height: 6px;
  border-radius: 0px;
  margin: 7px 0;
  transition: 0.5s;
}
.center:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.center:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.center:hover div {
  transform: scale(0);
}
.center:hover {
  cursor: pointer;
}
.square {
  width: 90%;
  height: 80vh;
  background-color: #242d38;
}
h2 {
  margin: 0 0 20px 0;
  font-size: 16px;
  color: #fcb84c;
  line-height: 1.6rem;
}
.lowh2 {
  margin: 0;
  font-size: 16px;
  color: #fcb84c;
}
.readmore {
  margin: 0;
  font-size: 14px;
  color: #fcb84c;
  font-weight: bold;
}
.wh {
  font-size: 1.3vw;
  color: #ffffff;
}
.bl {
  font-size: 1.3vw;
  color: #000000;
}
.play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.lecture {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 900px) {
  .grid-container {
    width: 100%;
    height: 100vh;
    padding: 0 10% 0 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "r1"
      "t1"
      "b1"
      "f1"
      "b2"
      "f2"
      "b3"
      "f3";
  }
  .r1 {
    grid-area: r1;
    justify-content: flex-end;
    padding-bottom: 60px;
  }
  .t1 {
    grid-area: t1;
    color: #ffffff;
    font-weight: 100;
    display: flex;
    justify-content: start;
  }
  .wh {
    font-size: 14px;
    color: #ffffff;
  }
  .bl {
    font-size: 14px;
    color: #000000;
  }
  .center {
    background-color: #000000;
    position: absolute;
    width: 75px;
    height: 70px;
    padding: 12px 20px 0 20px;
    border-radius: 40px;
    box-sizing: border-box;
  }
}
